.palette {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 11px 0 #6B6B6B;
  border-radius: 20px;
  padding: 30px;
  opacity: 0.5;
  isolation: isolate;
}

.palette::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.palette-enabled {
  opacity: 1;
}

.palette-enabled::after {
  display: none;
}

.color {
  position: relative;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 11px 0 #6B6B6B;
  transition: all 0.5s;
}

.color:hover {
  transform: translateY(-10px);
}

.selected {
  position: relative;
  transform: translateY(-10px);
}

.selected::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 5px;
  background-color: red;
  border-radius: 5px;
  transform: translateY(10px);
}

.draw-button {
  background-color: #ffc64c;
  border-radius: 10px;
  padding: 20px;
  border: none;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 0 11px 0 #6B6B6B;
  cursor: pointer;
  transition: 0.5s all;
}

.draw-button:hover {
  transform: translateY(-10px);
}

.hidden {
  display: none;
}
