<div class="palette" [class.palette-enabled]="enabled" >
  <div
    class="color"
    *ngFor="let color of colors"
    [class.selected]="this.selected == color"
    [style.background-color]="color"
    (click)="changeSelected(color)"
  ></div>

  <div
    class="color color-picker-container"
    [class.selected]="this.selected == colorPickerColor"
  >
    <input
      type="color"
      class="color-picker"
      [(ngModel)]="colorPickerColor"
      (input)="changeSelected(colorPickerColor)"
    >
  </div>

  <button class="draw-button" (click)="draw()" [class.hidden]="fastmode">draw</button>
</div>
