<app-dialog #storagePrompt>
  <h1>Cookies</h1>
  <p>
    This Page uses Cookies to remember your Login. The Page is still usable without you agreeing to the cookies.
    Without the cookies, it is required to login every time you visit the page.
  </p>

  <mat-card class="info-card warning-card">
    <mat-icon>warning</mat-icon> <span>The page uses some required cookies even when declining. This is for disabling this message after the first visit.</span>
  </mat-card>

  <app-dialog-action-bar>
    <div right>
      <button mat-button color="primary" (click)="accept()"> Accept </button>
      <button mat-button (click)="decline()"> Decline </button>
    </div>
  </app-dialog-action-bar>
</app-dialog>

