<div class="home-page">
  <h1 *ngIf="user">{{ greeting }} {{user.displayName}}#{{user.discriminator}}</h1>
  <h2 *ngIf="cooldown && cooldown.active">Cooldown: {{minutes}} : {{seconds}}</h2>
  <h2 *ngIf="cooldown && !cooldown.active">ready</h2>

  <div *ngIf="cooldown" class="content">
    <app-board #board [width]="80" [height]="80" [drawing-color]="drawingColor" (draw)="draw($event)" [can-draw]="!cooldown.active"></app-board>
    <app-color-pallette (color-change)="changeDrawingColor($event)" [disabled]="cooldown.active"></app-color-pallette>
  </div>
</div>




