<div class="home-page">
  <h1 *ngIf="user">{{ greeting }} {{user.displayName}}#{{user.discriminator}}</h1>
  <h2 *ngIf="cooldown && cooldown.active">Cooldown: {{minutes}} : {{seconds}}</h2>
  <h2 *ngIf="cooldown && !cooldown.active">ready</h2>
  <button mat-button color="primary" [disabled]="!cooldown || cooldown && cooldown.active" (click)="draw()">Draw Pixel</button>

  <app-board [width]="10" [height]="10" drawing-color="black"></app-board>
  <app-color-pallette></app-color-pallette>
</div>




