<div class="home-page">
  <h1 *ngIf="user">{{ greeting }} {{user.displayName}}#{{user.discriminator}}</h1>
  <h2 *ngIf="cooldown && cooldown.active">Cooldown: {{minutes}} : {{seconds}}</h2>
  <h2 *ngIf="cooldown && !cooldown.active">ready</h2>

  <div *ngIf="cooldown" class="content">
    <div class="col">
      <app-board #board [width]="80" [height]="80" [drawing-color]="drawingColor" (cell-select)="cellSelect($event)" [cell-select]="colorIsSelected" [can-draw]="canDraw" [definedCells]="loadedCells" [fastmode]="fastmode" (draw-color)="fastdraw($event)"></app-board>
      <app-color-pallette [enabled]="colorIsSelected" (draw)="draw($event)" [fastmode]="fastmode" (change-color)="colorSelect($event)" [can-draw]="canDraw"></app-color-pallette>
    </div>
    <div class="col">
      <app-user-display-card *ngFor="let connectedUser of connectedUser" [user]="connectedUser"></app-user-display-card>
    </div>
  </div>
</div>




