@keyframes selected {
  from {transform: scale(1)}
  50% {transform: scale(1.5)}
  to {transform: scale(1)}
}

.board {
  display: flex;
  border: 2px solid black;
}

.cell {
  position: relative;
  width: 10px;
  height: 10px;
  font-size: 10px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell::after {
  display: none;
  content: '';
  z-index: 1;
  position: absolute;
  top: 0; left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid black;
}

.selected.cell::after {
  display: block;
  border: 1px solid red;
  animation-name: selected;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.cell:hover::after {
  display: block;
}
