
<div class="board-container">

  <h1>{{hoveringCell && hoveringCell.user ? hoveringCell.user.displayName + '#' + hoveringCell.user.discriminator : 'none'}}</h1>

  <div class="board">
    <div *ngFor="let column of grid" class="column">
      <div
        *ngFor="let cell of column"
        class="cell"
        (click)="cellSelect(cell)"
        [style.background]="cell.color"
        [class.selected]="isSelected(cell)"
        (mouseover)="setHovering(cell)"
      ></div>
    </div>
  </div>
</div>
