
<nav>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeName()">
      <mat-icon>settings</mat-icon>
      <span>Change Display Name</span>
    </button>
    <button mat-menu-item (click)="clearCookies()">
      <mat-icon>delete</mat-icon>
      <span>Clear Cookies</span>
    </button>
    <button mat-menu-item (click)="toggleFastmode()">
      <mat-icon>F</mat-icon>
      <span>Toggle Fastmode</span>
    </button>
    <button mat-menu-item (click)="clearCookies()">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</nav>

<app-dialog #changeNameDialog>

  <h1>Change Name</h1>

  <mat-form-field appearance="fill">
    <mat-label>New Name</mat-label>
    <input matInput placeholder="Display Name" type="text" [(ngModel)]="currentName">
  </mat-form-field>

  <mat-card *ngIf="err" class="info-card error-card">
    <mat-icon>error</mat-icon>
    <span>{{ err }}</span>
  </mat-card>

  <app-dialog-action-bar>
    <div right>
      <button
        mat-button
        color="primary"
        (click)="clearName()"
        aria-label="this is gonna reset the name to the discord default again">
        clear
      </button>

      <button mat-button color="accent" (click)="cancel()">cancel</button>
      <button mat-button color="primary" (click)="ok()">ok</button>
    </div>
  </app-dialog-action-bar>
</app-dialog>


<app-page>
  <router-outlet></router-outlet>
</app-page>
